.thumbs {
  img {
    width: 14px;
    box-shadow: 0 0;
    opacity: 0.4;
    border-radius: 50%;
    background: white;
  }
  &:hover {
    img {
      opacity: .8;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    }
  }
}

.foo-manchu {
  color: red;
}

.custom-select {
  height: 56px;
  border: 0px solid;
  border-bottom: 1px solid #bdbdbd;
  border-radius: 0;
  &:focus {
    box-shadow: 0 0;
  }
}

.border-light {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-color: rgba(0, 0, 0, 0.125) !important;
}
